<%- include('partials/header') %>
<h1>Home</h1>
<p><%= startingText %></p>
<% posts.forEach((elem) => { %>
	<h1><%= elem.title %></h1>
	<p><%= elem.content.slice(0, 100) + '...' %> <a href="/posts/<%= elem.title %>"><i class="bi bi-plus-square" 	style="font-size: 2rem; color: cornflowerblue;"></i></a></p>
<% }) %>
<%- include('partials/footer') %>
